.container {
  background: rgb(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  width: 200px;
  height: 200px;
  font-family: sans-serif;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 7px;
}

.block1 {background-color: red;}
.block2 {background-color: green;}
.block3 {background-color: blue;}
.block4 {background-color: yellow;}
.block5 {background-color: navy;}
.block6 {background-color: purple;}
